@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #01081b;
  --text-secondary: #4d525f;
  --text-seconday-1: #01081b99;
  --text-seconday-2: #0d0d0d80;
  --text-seconday-3: #0d0d0d;
  --text-green-1: #37c390;
  --brand-primary: #804fb0;
  --brand-secondry: #932efa;
  --feature-muted: #cfd0d1;
  --feature-text: #6b7280;
  --footer-primary: #1a1a1a;
  --footer-secondary: #3a3a3a;

  --border-white-1: #fefcf9;
  --border-white-2: #f7f8fd;
  --border-white-3: #d8d8d8;
  --border-white-4: #f6f6f6;
  --border-white-5: #ebebeb;
  --border-white-6: #e5e5e5;
  --border-white-7: #001f36;

  --gradient-primary: linear-gradient(180deg, #0a0123 45.45%, #0e0229 100%);

  /* Spacing scale: 4px base unit */
  --space-0: 0px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-4-5: 18px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;
  --space-12: 48px;
  --space-16: 64px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* colors - bg */

  --color-primary: var(--brand-primary);
  --color-secondary: var(--brand-secondry);
  --color-footer-primary: var(--footer-primary);
  --color-footer-secondary: var(--footer-secondary);
  --color-feature-text: var(--feature-text);
  --color-feature-muted: var(--feature-muted);
  --color-gradient-primary: var(--text-gradient-primary);

  /* text colors */

  --color-text: var(--text-primary);
  --color-green-1: var(--text-green-1);
  --color-text-1: var(--text-seconday-1);
  --color-text-2: var(--text-seconday-2);
  --color-text-3: var(--text-seconday-3);
  --color-muted: var(--text-secondary);

  --color-white-1: var(--border-white-1);
  --color-white-2: var(--border-white-2);
  --color-white-3: var(--border-white-3);
  --color-white-4: var(--border-white-4);
  --color-white-5: var(--border-white-5);
  --color-white-6: var(--border-white-6);
  --color-white-7: var(--border-white-7);

  --font-sans: var(--font-urbanist);
  --font-mono: var(--font-geist-mono);

  /* Spacing scale */
  --spacing-0: var(--space-0);
  --spacing-1: var(--space-1);
  --spacing-2: var(--space-2);
  --spacing-3: var(--space-3);
  --spacing-4: var(--space-4);
  --spacing-4-5: var(--space-4-5);
  --spacing-5: var(--space-5);
  --spacing-6: var(--space-6);
  --spacing-8: var(--space-8);
  --spacing-10: var(--space-10);
  --spacing-12: var(--space-12);
  --spacing-16: var(--space-16);

  --fontSize-0: var(--space-0);
  --fontSize-1: var(--space-1);
  --fontSize-2: var(--space-2);
  --fontSize-3: var(--space-3);
  --fontSize-4: var(--space-4);
  --fontSize-5: var(--space-5);
  --fontSize-6: var(--space-6);
  --fontSize-8: var(--space-8);

  /* Font weights */
  --fontWeight-thin: 100;
  --fontWeight-extralight: 200;
  --fontWeight-light: 300;
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-primary: #01081b;
    --text-secondary: #4d525f;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-urbanist), Arial, Helvetica, sans-serif;
}

.scroll-container {
  display: flex;
  gap: 4.5rem;
  width: max-content;
  animation: scroll-left 5s linear infinite;
}

.scroll-container:hover {
  animation-play-state: running;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .scroll-container {
    animation-duration: 15s;
  }
}

.bg-gradient-primary {
  background: var(--gradient-primary);
}

.chalkboard-heading {
  position: relative;
  line-height: 1.2;
}

.chalkboard-heading::after {
  content: "";
  position: absolute;
  left: 55%;
  top: 60;
  transform: translateX(-50%);
  width: 70%;
  height: 20px;
  background: url("/assets/underline.svg") no-repeat center;
  background-size: contain;
  pointer-events: none;
  display: none;
}
@media (min-width: 1280px) {
  .chalkboard-heading::after {
    display: block;
  }
}

@media (min-width: 375px) and (max-width: 456px) {
  .chalkboard-heading::after {
    left: 52%;
    top: 27;
    display: block;
  }
  .chalkboard-heading {
    line-height: 1.2;
  }
}
